<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/bootstrap.min.js}"></script>
<head>
    <meta charset="UTF-8">
    <title>Countries</title>
</head>
<body>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Country</th>
            <th scope="col">People</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="count: ${countries}">
            <th scope="row" th:text="${count.getCountry()}"></th>
            <td th:text="${count.getNumbers()}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>